/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
/* @import 'mdb-angular-ui-kit/assets/scss/mdb.scss'; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    position: relative;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    

    background: #39b0b7!important;

 
}

$text: #466a8b;
$background: #43688a;
$primary: #448692;
$secondary: #fd0000;
$accent: #0e8e92;
$warning: #126673;
$pkmn-red: $accent;


$text-colors: (
  "primary": #ffffff, 
  "secondary": #000000, 
  "accent": #000000,
  "dark": #ffffff,
  "light": #000000,
  "danger": #000000,
  "warning": #ffffff,
  "success": #000000,
  "info": #ffffff
) !default;

$custom-colors: (
  "primary": lighten($primary, 20%),
  "secondary": $secondary,
  "accent": $accent,
  "dark": $background,
  "light": $text,
  "danger": lighten($accent, 20%),
  "warning": lighten($warning, 20%),
  "success": $accent,
  "info": $secondary
) !default;

$theme-colors: map-merge($theme-colors, $custom-colors);

// Crea un mixin per applicare i colori di sfondo e testo
@mixin apply-colors($color-name) {
  $bg-color: map-get($custom-colors, $color-name);
  $text-color: map-get($text-colors, $color-name);
  background-color: $bg-color;
  color: $text-color;
}

// Esempio di utilizzo del mixin
.button-primary {
  @include apply-colors("primary");
}
  @import "../node_modules/bootstrap/scss/bootstrap";
  