.card-selected {
    max-width: 20%; 
    margin: auto; 
  }
  
  .d-flex {
    display: flex;
    flex-direction: row; 
  }
  
  @media (max-width: 576px) {
   
    .d-flex {
      flex-direction: column !important; 
    }
    .card-selected {
      max-width: 100%; 
    }
  }
  @media (min-width: 577px) {
    .card-selected {
      min-width: 35%; 
      
    }
  }
  @media (min-width: 768px) {
    .card-selected {
      min-width: 30%; 
    }
  }
  .order-first {
    order: -1;
  }
  
  .order-last {
    order: 0;
  }
  
  .card-selected {
    margin: 5px;
    
  }
  .card-small {
   // width: 100%;
   // max-width: 200px; 
    margin: 0 auto;  
  }
  
  .card-img-top-small {
    max-height: 150px; 
    object-fit: cover; 
  }
  
  .card-body-small {
    padding: 0.5rem; 
  }
  
  .card-title-small {
    font-size: 1rem; 
  }
  
  .card-text-small {
    font-size: 0.875rem; 
  }
 .card-selecte{
  
    border: 2px solid #39B0B7;
  }
  .contenitore-img {
    max-width: 350px; 
   // margin: 0 auto; 
  }
  .fixed-img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }