<div class="container-fluid">
    <div class="container-content">
        <div class="content">
            <h2>Thanks, you are logged in, now is the time to work, if you are here you have a problem!!!</h2>
            <p class="p-color">Click here and let's solve it <button class="btn btn-custom-color" style="background-color: #F2DCD4;" routerLink="/chat-tiket">GO to Ticket Chat</button><i class="fas fa-robot"></i></p>
            <p class="p-color">Click here to open a ticket <button class="btn btn-custom-color" style="background-color: #F2DCD4;" routerLink="/create-tickets"><i class="fa-solid fa-ticket"></i> GO to ticket opening</button></p>
            <p class="p-color">click here to see the status of the machines in real time <button class="btn btn-custom-color" style="background-color: #F2DCD4;" routerLink="/status-maschine"><i class="fa-solid fa-ticket"></i> GO to the machine status</button></p>
        </div>
    </div>
</div>