<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
                <div class="container">
                    <div class="row  justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"> 
                            <div class="d-flex flex-column">
                                <label for="descrizione" class="form-label">Descrizione del problema:</label>
                                <textarea id="descrizione" (ngModelChange)="onStatoChange($event)" class="form-control" formControlName="descrizione" [(ngModel)]="ticket.descrizione"></textarea>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"> 
                            <div class="d-flex flex-column">
                                <label for="note" class="form-label">Note:</label>
                                <textarea id="note" (ngModelChange)="onStatoChange($event)" class="form-control" formControlName="note" [(ngModel)]="ticket.note"></textarea>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12"> 
                            <div class="d-flex flex-column">
                                <label for="priority" class="form-label">Priorità:</label>
                                <select (ngModelChange)="onStatoChange($event)" id="priority" class="form-control" formControlName="priority" [(ngModel)]="ticket.priority">
                                    <option *ngFor="let priority of priorities" [value]="priority">{{priority}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12"> 
                            <div class="d-flex flex-column">
                                <label for="stato" class="form-label">Stato:</label>
                                <select (ngModelChange)="onStatoChange($event)" id="stato" class="form-control" formControlName="stato" [(ngModel)]="ticket.stato">
                                    <option *ngFor="let statoTicket of statoTicket" [value]="statoTicket">{{statoTicket}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12"> 
                            <div class="d-flex flex-column">
                                <label for="dataApertura" class="form-label">Data Apertura:</label>
                                <input  (ngModelChange)="onStatoChange($event)" class="form-control" id="dataApertura" type="datetime-local" formControlName="dataApertura" [(ngModel)]="ticket.dataApertura" />
                            </div>
                        </div>
                      <!--   <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12"> 
                            <div class="d-flex flex-column">
                                <label for="dataChiusura" class="form-label">Data Chiusura:</label>
                                <input class="form-control" id="dataChiusura" type="datetime-local" formControlName="dataChiusura" [(ngModel)]="ticket.dataChiusura" />
                            </div>
                        </div> -->
                        <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12"> 
                            <div class="d-flex flex-column">
                                <label for="dataScadenza" class="form-label">Data Scadenza:</label>
                                <input (ngModelChange)="onStatoChange($event)" class="form-control" id="dataScadenza" type="datetime-local" formControlName="dataScadenza" [(ngModel)]="ticket.dataScadenza" />
                            </div>
                        </div>
                       <!--  <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12"> 
                            <div class="d-flex flex-column">
                                <label for="dataRisposta" class="form-label">Data Risposta:</label>
                                <input class="form-control" id="dataRisposta" type="datetime-local" formControlName="dataRisposta" [(ngModel)]="ticket.dataRisposta" />
                            </div>
                        </div> -->
                        <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12"> 
                            <div class="d-flex flex-column">
                                <label for="dataUltimaModifica" class="form-label">Data Ultima Modifica:</label>
                                <input (ngModelChange)="onStatoChange($event)" class="form-control" id="dataUltimaModifica" type="datetime-local" formControlName="dataUltimaModifica" [(ngModel)]="ticket.dataUltimaModifica" />
                            </div>
                        </div>
                      
                       <!-- <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12"> 
                            <div class="d-flex flex-column">
                                <label for="userId" class="form-label">User ID:</label>
                                <input id="userId" formControlName="userId" [(ngModel)]="ticket.userId" />
                            </div>
                        </div> -->
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"> 
                            <div class="d-flex flex-column justify-content-center">
                                <label for="partIds" class="form-label">Seleziona la macchina rotta e le sue parti:</label>
<!--                                 <input id="partIds" class="form-control m-1" formControlName="partIds" [(ngModel)]="ticket.partIds" />
 -->                                <button type="submit" class="btn btn-primary m-1 w-50 align-self-center" (click)="openModal()" >cerca</button>
                            </div>
                        </div>
                        <div class="m-3 d-flex align-items-center justify-content-center">
                            <button type="submit" (click)="onSubmit()" class="btn btn-dark" >Submit</button>
                        </div>
                     

                    </div>
                    
                </div>
            </form>
        </div>
        <div class="col-12">
            <div class="tp-wrapper">
                <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
                    <div class="tp-box__side tp-box__front ">E Gira
                        <div class="container container_front cont">
                            <div class="row d-flex">
                                <div class=" col-sm-8 p-2 p1 mb-1 mb-md-5" >
                                    <div class="container-fluid">
                                        <div class="row">
                                                <span class="tik col-6 tik-bon">
                                                    <h4 class="m-0">DESCRIZIONE</h4>
                                                    <p class="m-0">{{ticket.descrizione}}</p>
                                                </span>
                                                <div class="row">
                                                    <span class="tik col-6">
                                                        <h4 class="m-0">PRIORITÀ</h4>
                                                        <p class="mb-2">{{ticket.priority}}</p>
                                                        <h4 class="m-0">STATO TIKET</h4>
                                                        <p class="mb-0">{{ticket.stato}}</p>
                                                    </span>
                                                    <!-- Duplica la colonna qui sotto per aggiungere un'altra colonna -->
                                                    <span class="tik col-6 align-content-center">
                                                        <h4 class="m-0">DATA APERTURA</h4>
                                                        <p class="mb-2">{{ticket.dataApertura}}</p>
                                                       
                                                    </span>
                                                </div>
                                                <span class="tik col-6 tik-bon">
                                                    <h4 class="m-0">NOTE</h4>
                                                    <p class="m-0">{{ticket.note}}</p>
                                                </span>
                                                <span class="tik col-12 tik-bon ">
                                                    <span class="d-flex justify-content-around">
                                                    <div>
                                                        <h4 class="m-0">DATA SCADENZA</h4>
                                                        <p class="m-0">{{ticket.dataScadenza}}</p>
                                                    </div>
                                                    <div>
                                                        <h4 class="m-0">DATA ULTIMA MODIFICA</h4>
                                                        <p class="m-0">{{ticket.dataUltimaModifica}}</p>
                                                    </div>
                                                </span>
                                                </span>
                                        </div>
                                    </div>

                                </div>
                                <div class=" col-sm-4 p-2 p2 mb-5" >
                                    <div class="container-fluid">
                                        <div class="row">
                                                <span class="tik col-md-6 mb-3">
                                                    <h4 class="m-0">NOME</h4>
                                                    <p class="m-0">{{user.nome}}</p>
                                                </span>
                                                <span class="tik col-md-6 mb-3">
                                                    <h4 class="m-0">COGNOME</h4>
                                                    <p class="m-0">{{user.cognome}}</p>
                                                </span>
                                                <span class="tik col-12 mb-3">
                                                    <h4 class="m-0">EMAIL</h4>
                                                    <p class="m-0">{{user.email}}</p>
                                                </span>
                                                <span class="tik col-md-6 mb-3">
                                                    <h4 class="m-0">DATA DI NASCITA</h4>
                                                    <p class="m-0">{{user.dataDiNascita}}</p>
                                                </span>
                                                <span class="tik col-md-6 mb-3">
                                                    <h4 class="m-0">C. di NASCITA</h4>
                                                    <p class="m-0">{{user.comuneDiNascita}}</p>
                                                </span>
                                                <span class="tik col-12 mb-3">
                                                    <h4 class="m-0">n. TELEFONO</h4>
                                                    <p class="m-0">{{user.telefono}}</p>
                                                </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="tp-box__side tp-box__back">E Rigira
                        <div class="container container_back cont">
                            <div class="row d-flex">
                                <div class=" col-sm-4 p-2 p1" >
                                    
                                        
                                    <h4>MACCHINA</h4>
                                     
                                                <p>{{ selectedMachine?.marca }}</p>
                                                <p>{{ selectedMachine?.statoMacchina }}</p>
                                                <p>{{ selectedMachine?.description }}</p>
                                                
                                                <p>{{ selectedMachine?.nomeMacchina }}</p>
                                                <img *ngIf="selectedMachine?.photo;" src="{{selectedMachine?.photo}}" alt="img" class="img-thumbnail" style="width: 150px;">
                                              
                                           
                                        
                                    
                                 </div>
                                 <div class=" col-sm-8 p-2 p2" >
                                     <h4>PARTI DICHIARATE</h4>
                                    <div class="d-flex align-content-center">
                                    
                                                <div *ngFor="let item of selectedParts">
                                                    <p class="m-2">{{ item.nomeParte }}</p>
                                                    <p class="m-2">{{ item.descrizione }}</p>
                                                    <p class="m-2">{{ item.note }}</p>
                                                    <p class="m-2">{{ item.quantityParts }}</p>
                                                    
                                                </div>
                                            
                                    </div>                       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-above-navbar"  *ngIf="showModel" tabindex="-1" role="dialog" [ngClass]="{'show': showModel}" style="display: block;">
    <div class="modal-dialog modal-dialog-scrollable modal-lg"  >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Seleziona una Macchina</h5>
          <button type="button" class="btn-close"  (click)="closeModal()" aria-label="Chiudi"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control"(ngModelChange)="onStatoChangein($event)"  [(ngModel)]="searchTerm" (input)="search()" placeholder="Cerca...">
          <div *ngIf="!selectedMachine">
            <ul class="d-flex justify-content-center text-center">
              <li *ngFor="let userMachine of filteredUserMachines">
                <ul>
                  <li *ngFor="let machine of userMachine.machines">
                    <div class="border border-2 border-dark rounded-2 p-0 m-2"  (click)="selectMachine(machine)">
                       <p class="m-0 bg-dark"> {{ machine.nomeMacchina }}</p>
                       <p class="m-1"> {{machine.description}}</p>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <div *ngIf="filteredUserMachines.length === 0 && searchTerm.length > 0" >
                <p>Nessun risultato trovato per '{{ searchTerm }}'.</p>
              </div>
          </div>
  
          <div *ngIf="selectedMachine" >
              <div class="d-flex m-2">
                  <span class="border border-2 border-dark rounded-2 p-0 m-2">                      
                      <h5 class="m-0 p-1 bg-dark">{{ selectedMachine.nomeMacchina }}</h5>
                    <p class="m-1">Marca: {{ selectedMachine.marca }}</p>
                    <p class="m-1">Stato: {{ selectedMachine.statoMacchina }}</p>
                    <p class="m-1">Descrizione: {{ selectedMachine.description }}</p>
                </span>
                <img [src]="selectedMachine.photo" alt="{{ selectedMachine.nomeMacchina }}" class="img-fluid modal-img ">
            </div>
            <div class="container-fluid">
                <div class="row m-0 p-0">
                    <div class="col-md-6 ps-0">

                        <div class="border border-2 border-warning rounded-2 p-0">
                        
                        <h6 class="m-0 p-1 bg-warning">Seleziona le Parti</h6>
                        <ul class="p-0">
                            <li *ngFor="let part of selectedMachine.parts" (click)="selectPart(part)" class="border border-2 border-warning" [ngClass]="{'parte-selezionata': isSelectedPart(part)}">
                                <p class="m-0"> {{ part.nomeParte }}</p> 
                                <p class="m-0"> {{ part.descrizione }}</p>
                                <p class="m-0"> {{ part.note }}</p>
                            </li>
                        </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
            <div *ngIf="selectedPart">
            <div class="border border-2 border-warning rounded-2 p-0">
              <h6><Strong>Dettagli Parte:</Strong> {{ selectedPart.nomeParte }}</h6>
              <p><strong>Descrizione:</strong> {{ selectedPart.descrizione }}</p>
              <p><strong>Note:</strong> {{ selectedPart.note }}</p>
              <p><strong>Q*:</strong> {{ selectedPart.quantityParts }}</p>
  
              <h6><strong>Pezzi</strong></h6>
              <ul>
                <li *ngFor="let piece of selectedPart.pieces">
                    <p class="m-0 p-1"> {{ piece.nomePezzo }} - {{ piece.descrizione }} ({{ piece.quantityPiece }})</p>
                </li>
              </ul>
            </div>
            </div>
        </div>
        </div>
    </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Chiudi</button>
          <button type="button" class="btn btn-primary" (click)="addMacchina()">Salva cambiamenti</button>
        </div>
      </div>
    </div>
  </div>