.tp-box {
    transform-style: preserve-3d;
    transform: transform 1s;
}

.tp-box__side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    color: #8d2a2a;
    text-align: center;
    user-select: none;
}

.tp-box__front {  
    transform: rotateY(0deg);
}
.tp-box__back { 
    transform: rotateY(-180deg);
}
.cont{
    border-radius: 10px;
}

.p1{
    background-color: #FCEDD9;
    border-radius: 15px;
    border-right: 2px dashed #000;
    height: 420px;
}
.p2{
    background-color: #FCEDD9;
    border-radius: 15px;
    border-left: 2px dashed #000;
}
h4{
    color: #8d2a2a;
    font-size: 1rem;
}
.tik p {
    
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}
.tik-bon{
    min-height: 100px; /* Ajusta questa altezza minima secondo le tue necessità */
    width: 100%; /* Assicura che il contenitore si estenda per tutta la larghezza disponibile. Puoi anche usare min-width se preferisci */
    display: flex; /* Utilizza flexbox per allineare il contenuto internamente */
    flex-direction: column; /* Organizza il contenuto in colonna */
    justify-content: center; /* Centra il contenuto verticalmente */
    padding: 10px; 
}
