.tp-wrapper {
    height: 450px;
    @media (max-width: 579px){
        height: 750px;
    }

}
.tp-box {
    transform-style: preserve-3d;
    transform: transform 1s;
}

.tp-box__side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    color: #8d2a2a;
    text-align: center;
    user-select: none;
}

.tp-box__front {  
    transform: rotateY(0deg);
}
.tp-box__back { 
    transform: rotateY(-180deg);
}
.cont{
    border-radius: 10px;
}

.p1{
    background-color: #FCEDD9;
    border-radius: 15px;
    border-right: 2px dashed #000;
    height: 420px;
}
.p2{
    background-color: #FCEDD9;
    border-radius: 15px;
    border-left: 2px dashed #000;
}
h4{
    color: #8d2a2a;
    font-size: 1rem;
}
.tik p {
    
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}
.tik-bon{
    min-height: 100px; 
    width: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 10px; 
}
.modal-above-navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Colore scuro con trasparenza */
    z-index: 1040!important;
}
.modal-img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    aspect-ratio: 1;
  }
  ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
  }
  li {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
  }
  .parte-selezionata {
    background-color: #9bd4dc;
  }
  