#setting {
    padding: 30px;
   // background-color: white;
    color: black;
  }
  #setting h3 {
    font-size: 1.2em;
    opacity: 0.5;
  }
  #setting h4 {
    font-size: 1em;
  }
  #setting ul {
    list-style: none;
    padding: 0;
  }
  #setting a:hover {
    color: red;
  }