<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="showSuccessAlert">
  Competenza aggiunta con successo!
  <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
</div>

<div class="alert alert-stext-secondary alert-dismissible fade show" role="alert" *ngIf="showErrorAlert">
  Si è verificato un errore durante l'aggiunta della competenza.
  <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
</div>

<form class="p-4 text-center" [formGroup]="competenzaForm" (ngSubmit)="onCompetenzaSubmit()">
  <h2>Crea la competenzza opportuna per la macchina</h2>
  <div class="mb-3">
    <label for="competenzaNome" class="form-label">Nome Competenza</label>
    <input type="text" class="form-control" id="competenzaNome" formControlName="nomeCompetenza">
    <div *ngIf="competenzaForm.get('nomeCompetenza')?.invalid && competenzaForm.get('nomeCompetenza')?.touched" class="text-secondary">
      Il campo Nome Competenza è richiesto.
    </div>
  </div>

  <div class="mb-3">
    <label for="competenzaDescrizione" class="form-label">Descrizione</label>
    <textarea class="form-control" id="competenzaDescrizione" formControlName="descrizione" rows="3"></textarea>
    <div *ngIf="competenzaForm.get('descrizione')?.invalid && competenzaForm.get('descrizione')?.touched" class="text-secondary">
      Il campo Descrizione è richiesto.
    </div>
  </div>

  <div class="mb-3">
    <label for="competenzaIdRisorsa" class="form-label">Scegli macchina</label>
    <select class="form-control" id="competenzaIdRisorsa" formControlName="machineId">
      <ng-container *ngFor="let macchina of macchine">
        <option *ngIf="!macchina.competenza" [value]="macchina.id" class="d-flex justify-content-between text-center">
          
            <span>{{ macchina.nomeMacchina }}</span>
            <span>-{{ macchina.marca }}</span>
            <span> -{{ macchina.modello }}</span>
         
        </option>
      </ng-container>
    </select>
    <div *ngIf="competenzaForm.get('machineId')?.invalid && competenzaForm.get('machineId')?.touched" class="text-secondary">
      Il campo ID Risorsa è richiesto.
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 d-flex flex-column justify-content-end">
    <label for="competenzaLivello" class="form-label">Livello</label>
      <input type="number" class="form-control w-25 m-auto" id="competenzaLivello" formControlName="livello">
      <div *ngIf="competenzaForm.get('livello')?.invalid && competenzaForm.get('livello')?.touched" class="text-secondary">
      Il campo Livello è richiesto.
    </div>
  </div>

    <div class="col-md-6 d-flex justify-content-start align-items-center m-0">
      <button type="submit" class="btn btn-dark my-3">Aggiungi Competenza</button>
    </div>
  </div>
</form>