<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="showSuccessAlert">
  Competenza aggiunta con successo!
  <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="showErrorAlert">
  Si è verificato un errore durante l'aggiunta della competenza.
  <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
</div>

<form [formGroup]="competenzaForm" (ngSubmit)="onCompetenzaSubmit()">
  <div class="mb-3">
    <label for="competenzaNome" class="form-label">Nome Competenza</label>
    <input type="text" class="form-control" id="competenzaNome" formControlName="nomeCompetenza">
    <div *ngIf="competenzaForm.get('nomeCompetenza')?.invalid && competenzaForm.get('nomeCompetenza')?.touched" class="text-danger">
      Il campo Nome Competenza è richiesto.
    </div>
  </div>

  <div class="mb-3">
    <label for="competenzaDescrizione" class="form-label">Descrizione</label>
    <textarea class="form-control" id="competenzaDescrizione" formControlName="descrizione" rows="3"></textarea>
    <div *ngIf="competenzaForm.get('descrizione')?.invalid && competenzaForm.get('descrizione')?.touched" class="text-danger">
      Il campo Descrizione è richiesto.
    </div>
  </div>

  <div class="mb-3">
    <label for="competenzaIdRisorsa" class="form-label">ID Risorsa</label>
    <input type="number" class="form-control" id="competenzaIdRisorsa" formControlName="idRisorsa">
    <div *ngIf="competenzaForm.get('idRisorsa')?.invalid && competenzaForm.get('idRisorsa')?.touched" class="text-danger">
      Il campo ID Risorsa è richiesto.
    </div>
  </div>

  <div class="mb-3">
    <label for="competenzaLivello" class="form-label">Livello</label>
    <input type="number" class="form-control" id="competenzaLivello" formControlName="livello">
    <div *ngIf="competenzaForm.get('livello')?.invalid && competenzaForm.get('livello')?.touched" class="text-danger">
      Il campo Livello è richiesto.
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary btn-block mb-4">Aggiungi Competenza</button>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary btn-block mb-4" (click)="skip()" [routerLink]="['/']" routerLinkActive="active">Skip</button>
    </div>
  </div>
</form>