<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    <button type="button" class="btn btn-dark" (click)="toggleCollapse()" data-mdb-ripple-init>G</button>

      <div class="logo-text" @fadeInOut *ngIf="collapsed">Gestionale</div>
      <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
          <i class="fal fa-times close-icon"></i>
      </button>
  </div>
  <ul class="sidenav-nav">
    <P>{{user?.nome}} {{user?.cognome}}</P>
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" 
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      >
      <i class="sidenav-link-icon" [class]="data.icon"></i>
      <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
        {{data.label}}
      </span>
    </a>
  </li>
  <button *ngIf="!user"  [routerLink]="['/login']" routerLinkActive="active" class="btn btn-dark p-2">login</button>
  <button *ngIf="user"  (click)="logout()" routerLinkActive="active" class="btn btn-dark p-2">Logout</button>
</ul>
</div>