<div class="container-fluid p-2">
    <h2 class="text-center">INSERISCI LA MACCHINA NEL SISTEMA</h2>
    <div class="row">
      <!-- <div class="col-12 border mt-2 mb-2"> -->
        <form [formGroup]="addMachineForm" (ngSubmit)="onMachineSubmit()">
          <div class="d-flex justify-content-center align-content-center ">
            <div class="container">
              <div class="row">
            <!-- nome macchina -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"> 
              <div class="d-flex flex-column text-center m-2">
                <label for="nomeMacchina" class="form-label">Nome Macchina</label>
                <input type="text" class="form-control" id="nomeMacchina" formControlName="nomeMacchina" [ngClass]="{'is-invalid': addMachineForm.get('nomeMacchina')?.invalid && (addMachineForm.get('nomeMacchina')?.touched || isFormSubmitted), 'input-invalid': addMachineForm.get('nomeMacchina')?.invalid && (addMachineForm.get('nomeMacchina')?.touched || isFormSubmitted)}">
                <div *ngIf="addMachineForm.get('nomeMacchina')?.invalid && isFormSubmitted" class="text-secondary">
                  Inserisci il nome della macchina
                </div>
              </div>
            </div>
            <!-- marca macchina -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"> 
              <div class="d-flex flex-column text-center m-2">
                <label for="marca" class="form-label">Marca</label>
                <input type="text" class="form-control" id="marca" formControlName="marca" [ngClass]="{'is-invalid': addMachineForm.get('marca')?.invalid && (addMachineForm.get('marca')?.touched || isFormSubmitted), 'input-invalid': addMachineForm.get('marca')?.invalid && (addMachineForm.get('marca')?.touched || isFormSubmitted)}">
                <div *ngIf="addMachineForm.get('marca')?.invalid && isFormSubmitted" class="text-secondary">
                  Inserisci la marca
                </div>
              </div>
            </div>
            <!-- matricola -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="d-flex flex-column text-center m-2">
              <label for="matricola" class="form-label">Matricola</label>
              <input type="text" class="form-control" id="matricola" formControlName="matricola" [ngClass]="{'is-invalid': addMachineForm.get('matricola')?.invalid && (addMachineForm.get('matricola')?.touched || isFormSubmitted), 'input-invalid': addMachineForm.get('matricola')?.invalid && (addMachineForm.get('matricola')?.touched || isFormSubmitted)}">
              <div *ngIf="addMachineForm.get('matricola')?.invalid && isFormSubmitted" class="text-secondary">
                  Inserisci la matricola
                </div>
              </div>
            </div>
            <!-- modello macchina -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"> 
              <div class="d-flex flex-column text-center m-2">
                <label for="modello" class="form-label">Modello</label>
                <input type="text" class="form-control" id="modello" formControlName="modello" [ngClass]="{'is-invalid': addMachineForm.get('modello')?.invalid && (addMachineForm.get('modello')?.touched || isFormSubmitted), 'input-invalid': addMachineForm.get('modello')?.invalid && (addMachineForm.get('modello')?.touched || isFormSubmitted)}">
                <div *ngIf="addMachineForm.get('modello')?.invalid && isFormSubmitted" class="text-secondary">
                  Inserisci la modello
                </div>
              </div>
            </div>
            <!-- data di aquisto -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"> 
              <div class="d-flex flex-column text-center m-2">
                <label for="dataAcquisto" class="form-label">Data di aquisto</label>
                <input type="date" class="form-control" id="dataAcquisto" formControlName="dataAcquisto" [ngClass]="{'is-invalid': addMachineForm.get('dataAcquisto')?.invalid && (addMachineForm.get('dataAcquisto')?.touched || isFormSubmitted), 'input-invalid': addMachineForm.get('dataAcquisto')?.invalid && (addMachineForm.get('dataAcquisto')?.touched || isFormSubmitted)}">
                <div *ngIf="addMachineForm.get('dataAcquisto')?.invalid && isFormSubmitted" class="text-secondary">
                  Inserisci la dataAcquisto
                </div>
              </div>
            </div>
            <!-- stato macchina -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12"> 
              <div class="d-flex flex-column text-center m-2">
                <label for="statoMaschine" class="form-label">Stato Macchina</label>
                <select class="form-select" id="statoMaschine" formControlName="statoMaschine" [ngClass]="{'is-invalid': addMachineForm.get('statoMaschine')?.invalid && (addMachineForm.get('statoMaschine')?.touched || isFormSubmitted), 'input-invalid': addMachineForm.get('statoMaschine')?.invalid && (addMachineForm.get('statoMaschine')?.touched || isFormSubmitted)}">
                  <option *ngFor="let stato of statoMaschineValues" [value]="stato">{{ stato }}</option>
                </select>
                <div *ngIf="addMachineForm.get('statoMaschine')?.invalid && isFormSubmitted" class="text-secondary">
                  Seleziona uno stato
                </div>
              </div>
            </div>
            <div class="d-flex col-xl-3 col-lg-4 col-md-6 col-sm-12"> 
              <!-- descrizione -->
              <div class="custom-width d-flex flex-column text-center m-2">
                <label for="description" class="form-label">Descrizione Della macchina</label>
                <textarea class="form-control textarea-custom" id="description" formControlName="description" placeholder="Inserisci una descrizione della macchina" 
                [ngClass]="{'is-invalid': addMachineForm.get('description')?.invalid && (addMachineForm.get('description')?.touched || isFormSubmitted), 'input-invalid': addMachineForm.get('description')?.invalid && (addMachineForm.get('description')?.touched || isFormSubmitted)}"></textarea>
                <div *ngIf="addMachineForm.get('description')?.invalid && isFormSubmitted" class="text-secondary">
                  Inserisci la descrizione
                </div>
              </div>
            </div>
            <div class="d-flex col-xl-3 col-lg-4 col-md-6 col-sm-12"> 
               <!-- pohto -->
               <div class="d-flex flex-column text-center m-2">
                <label for="photo" class="form-label">Carica Immagine</label>
                <input type="file" class="form-control" id="photo" (change)="onFileChange($event)" 
                       [ngClass]="{'is-invalid': addMachineForm.get('photo')?.invalid && (addMachineForm.get('photo')?.touched || isFormSubmitted)}">
                      
              </div>
            </div>
          </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
         
               
          <!-- Submit button -->
          <div class="d-flex align-items-center">
            <button type="submit" class="btn btn-dark p-2 btn-size-custom">
              Registra Macchina
            </button>
          </div>
          <div *ngIf="imageUrl">
            <img [src]="imageUrl" alt="Anteprima" class="img-thumbnail">
          </div>
        </div>
        </form> 
      <!-- </div> -->
    </div>
  </div>

<!-- Modale Bootstrap -->
<div class="modal fade page-under-modal" *ngIf="showModal" tabindex="-1" role="dialog" [ngClass]="{'show': showModal}" style="display: block;">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Utenti</h5>
        <button type="button" class="btn btn-dark" (click)="showModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body overflow-auto">
        <select [(ngModel)]="selectedUserId">
          <ng-container *ngFor="let item of userDati">
            <option *ngIf="item.ruolo[0].nomeRuolo==='DIPENDENTE'" [value]="item.id">
              {{item.nome}} {{item.cognome}}
            </option>
          </ng-container>
        </select>
        <div *ngIf="selectedUser">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <h4>Dipendente</h4>
                <div>
                  <p>Nome: {{selectedUser.nome}} </p>
                  <p>Cognome: {{selectedUser.cognome}}</p>
                  <p>Email: {{selectedUser.email}}</p>
                  <p>N. Telefono: {{selectedUser.telefono}}</p>
                  <p>Data di Nascita: {{selectedUser.dataDiNascita}}</p>
                  <p>indirizzo: {{selectedUser.indirizzo}}</p>
                </div>
                <h4>Competenze</h4>
                <div *ngFor="let key of selectedUser.competenze">
                  <div class="border border-2 p-3 mb-3"   >
                    <p>Nome competenza: {{key.nomeCompetenza}}</p>
                    <p>Descrizione competenza: {{key.descrizione}}</p>
                    <p>Livello: {{key.livello}}</p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <h4>Competenze</h4>
                <div *ngFor="let keyUser of competenzeUser">
                  <div *ngIf="keyUser.machine.nomeMacchina==null&&keyUser.machine.nomeMacchina==null">
                    <div class="border border-2 p-3 mb-3" [ngClass]="{'border-danger': competenzeId=== keyUser.idCompetenza}"  (click)="onCompetenzaClick(keyUser.idCompetenza)">
                      <p>Nome competenza: {{keyUser.nomeCompetenza}}</p>
                      <p>Descrizione competenza: {{keyUser.descrizione}}</p>
                      <p>Livello: {{keyUser.livello}}</p>
                    </div>
                  </div>
                </div>
              </div>                
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <h3>Se non salvi la macchina vera chiusa</h3>
        <div *ngIf="isLoading" class="spinner-grow" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <button type="button" class="btn btn-secondary" (click)="showModal = false">Chiudi</button>
        <button type="button" class="btn btn-primary" (click)="addMacchina()" [disabled]="isLoading">Salva cambiamenti</button>
      </div>
    </div>
  </div>
</div>