<div class="container-fluid">
    <h2 class="text-center">INSERISCI LA MACCHINA NEL SISTEMA</h2>
    <div class="row">
      <!-- <div class="col-12 border mt-2 mb-2"> -->
        <form [formGroup]="addMachineForm" (ngSubmit)="onMachineSubmit()">
          <div class="d-flex justify-content-center align-content-center ">
            <!-- nome macchina -->
            <div class="d-flex flex-column text-center m-2">
                <label for="nomeMacchina" class="form-label">Nome Macchina</label>
                <input type="text" class="form-control" id="nomeMacchina" formControlName="nomeMacchina" [ngClass]="{'is-invalid': addMachineForm.get('nomeMacchina')?.invalid && (addMachineForm.get('nomeMacchina')?.touched || isFormSubmitted), 'input-invalid': addMachineForm.get('nomeMacchina')?.invalid && (addMachineForm.get('nomeMacchina')?.touched || isFormSubmitted)}">
                <div *ngIf="addMachineForm.get('nomeMacchina')?.invalid && isFormSubmitted" class="text-danger">
                    Inserisci il nome della macchina
                  </div>
            </div>
            <!-- marca macchina -->
            <div class="d-flex flex-column text-center m-2">
                <label for="marca" class="form-label">Marca</label>
                <input type="text" class="form-control" id="marca" formControlName="marca" [ngClass]="{'is-invalid': addMachineForm.get('marca')?.invalid && (addMachineForm.get('marca')?.touched || isFormSubmitted), 'input-invalid': addMachineForm.get('marca')?.invalid && (addMachineForm.get('marca')?.touched || isFormSubmitted)}">
                <div *ngIf="addMachineForm.get('marca')?.invalid && isFormSubmitted" class="text-danger">
                    Inserisci la marca
                  </div>
            </div>
            <!-- matricola -->
            <div class="d-flex flex-column text-center m-2">
              <label for="matricola" class="form-label">Matricola</label>
              <input type="text" class="form-control" id="matricola" formControlName="matricola" [ngClass]="{'is-invalid': addMachineForm.get('matricola')?.invalid && (addMachineForm.get('matricola')?.touched || isFormSubmitted), 'input-invalid': addMachineForm.get('matricola')?.invalid && (addMachineForm.get('matricola')?.touched || isFormSubmitted)}">
              <div *ngIf="addMachineForm.get('matricola')?.invalid && isFormSubmitted" class="text-danger">
                  Inserisci la matricola
                </div>
          </div>
            <!-- modello macchina -->
            <div class="d-flex flex-column text-center m-2">
                <label for="modello" class="form-label">Modello</label>
                <input type="text" class="form-control" id="modello" formControlName="modello" [ngClass]="{'is-invalid': addMachineForm.get('modello')?.invalid && (addMachineForm.get('modello')?.touched || isFormSubmitted), 'input-invalid': addMachineForm.get('modello')?.invalid && (addMachineForm.get('modello')?.touched || isFormSubmitted)}">
                <div *ngIf="addMachineForm.get('modello')?.invalid && isFormSubmitted" class="text-danger">
                    Inserisci la modello
                  </div>
            </div>
            <!-- data di aquisto -->
            <div class="d-flex flex-column text-center m-2">
                <label for="dataAcquisto" class="form-label">Data di aquisto</label>
                <input type="date" class="form-control" id="dataAcquisto" formControlName="dataAcquisto" [ngClass]="{'is-invalid': addMachineForm.get('dataAcquisto')?.invalid && (addMachineForm.get('dataAcquisto')?.touched || isFormSubmitted), 'input-invalid': addMachineForm.get('dataAcquisto')?.invalid && (addMachineForm.get('dataAcquisto')?.touched || isFormSubmitted)}">
                <div *ngIf="addMachineForm.get('dataAcquisto')?.invalid && isFormSubmitted" class="text-danger">
                    Inserisci la dataAcquisto
                  </div>
            </div>
            <!-- stato macchina -->
            <div class="d-flex flex-column text-center m-2">
              <label for="statoMaschine" class="form-label">Stato Macchina</label>
              <select class="form-select" id="statoMaschine" formControlName="statoMaschine" [ngClass]="{'is-invalid': addMachineForm.get('statoMaschine')?.invalid && (addMachineForm.get('statoMaschine')?.touched || isFormSubmitted), 'input-invalid': addMachineForm.get('statoMaschine')?.invalid && (addMachineForm.get('statoMaschine')?.touched || isFormSubmitted)}">
                <option *ngFor="let stato of statoMaschineValues" [value]="stato">{{ stato }}</option>
              </select>
              <div *ngIf="addMachineForm.get('statoMaschine')?.invalid && isFormSubmitted" class="text-danger">
                Seleziona uno stato
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center">
          <!-- descrizione -->
            <div class="custom-width d-flex flex-column text-center m-2">
                <label for="description" class="form-label">Descrizione Della macchina</label>
                <textarea class="form-control textarea-small-font" id="description" formControlName="description" placeholder="Inserisci una descrizione della macchina" 
                [ngClass]="{'is-invalid': addMachineForm.get('description')?.invalid && (addMachineForm.get('description')?.touched || isFormSubmitted), 'input-invalid': addMachineForm.get('description')?.invalid && (addMachineForm.get('description')?.touched || isFormSubmitted)}"></textarea>
                <div *ngIf="addMachineForm.get('description')?.invalid && isFormSubmitted" class="text-danger">
                    Inserisci la descrizione
                </div>
                </div>
                <!-- pohto -->
                <div class="d-flex flex-column text-center m-2">
                    <label for="photo" class="form-label">Carica Immagine</label>
                    <input type="file" class="form-control" id="photo" (change)="onFileChange($event)" 
                           [ngClass]="{'is-invalid': addMachineForm.get('photo')?.invalid && (addMachineForm.get('photo')?.touched || isFormSubmitted)}">
                          
                  </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-dark p-2">
            Sign in
          </button>
          <div *ngIf="imageUrl">
            <img [src]="imageUrl" alt="Anteprima" class="img-thumbnail">
          </div>
        </div>
        </form> 
      <!-- </div> -->
    </div>
  </div>

<!-- Modale Bootstrap -->
<div class="modal fade" *ngIf="showModal" tabindex="-1" role="dialog" [ngClass]="{'show': showModal}" style="display: block;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Utenti</h5>
        <button type="button" class="btn btn-dark" (click)="showModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body overflow-auto">
        <select [(ngModel)]="selectedUserId">
          <option *ngFor="let item of userDati" [value]="item.id">{{item.nome}} {{item.cognome}}</option>
        </select>
        <div *ngIf="selectedUser">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <div>
                  <p>Nome: {{selectedUser.nome}} </p>
                  <p>Cognome: {{selectedUser.cognome}}</p>
                  <p>Email: {{selectedUser.email}}</p>
                  <p>N. Telefono: {{selectedUser.telefono}}</p>
                  <p>Data di Nascita: {{selectedUser.dataDiNascita}}</p>
                  <p>indirizzo: {{selectedUser.indirizzo}}</p>
                </div>
              </div>
              <div class="col-6" >
                <h2>COMPETENZE</h2>
                <h4>ALLEGA UNA COMPETENZA ALLA MACCHINA</h4>
                <div *ngFor="let key of selectedUser.competenze">
                  <div class="border border-2 p-3 mb-3" [ngClass]="{'border-danger': selectedCompetenzaId === key.idCompetenza}"  (click)="onCompetenzaClick(key.idCompetenza)">
                  <p>Nome competenza: {{key.nomeCompetenza}}</p>
                  <p>Descrizione competenza: {{key.descrizione}}</p>
                  <p>Livello: {{key.livello}}</p>
                  <p>Machina collegata: {{key.machine}}</p>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <h3>Se non salvi la macchina vera chiusa</h3>
        <button type="button" class="btn btn-secondary" (click)="showModal = false">Chiudi</button>
        <button type="button" class="btn btn-primary" (click)="addMacchina()" >Salva cambiamenti</button>
      </div>
    </div>
  </div>
</div>