
<div class="row d-flex justify-content-center">
  <div class="col-md-3 ">
    <figure class="figure">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).webp"
        class="figure-img img-fluid rounded shadow-3 mb-3"
        alt="..."
      />
      <figcaption class="figure-caption">
        A caption for the above image.
      </figcaption>
    </figure>
  </div>
  <div class="col-md-3">
    <figure class="figure">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).webp"
        class="figure-img img-fluid rounded shadow-3 mb-3"
        alt="..."
      />
      <figcaption class="figure-caption">
        A caption for the above image.
      </figcaption>
    </figure>
  </div>
</div>
