<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="showSuccessAlert">
    Pezzi della macchina aggiunti con successo!
    <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
  </div>
  
  <div class="alert alert-danger alert-dismissible fade show alert-message" role="alert" *ngIf="showErrorAlert">
      {{messageAlert}}
    <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
  </div>
  <div class="container-fluid">
      <h2 class="text-center">INSERISCI I PEZZI DELLA MACCHINA NEL SISTEMA</h2>
      <div class="row">
        <!-- <div class="col-12 border mt-2 mb-2"> -->
          <form [formGroup]="addPartiForm" (ngSubmit)="onPezziSubmit()">
            <div class="d-flex justify-content-center align-content-center ">
              <!-- nome macchina -->
              <div class="d-flex flex-column text-center m-2">
                  <label for="nomePezzo" class="form-label">Nome Parte della macchina</label>
                  <input type="text" class="form-control" id="nomePezzo" formControlName="nomePezzo" [ngClass]="{'is-invalid': addPartiForm.get('nomePezzo')?.invalid && (addPartiForm.get('nomePezzo')?.touched || isFormSubmitted), 'input-invalid': addPartiForm.get('nomePezzo')?.invalid && (addPartiForm.get('nomePezzo')?.touched || isFormSubmitted)}">
                  <div *ngIf="addPartiForm.get('nomePezzo')?.invalid && isFormSubmitted" class="text-danger">
                      Inserisci il nome della parte
                    </div>
              </div>
              <!-- seriale -->
              <div class="d-flex flex-column text-center m-2">
                <label for="seriale" class="form-label">Seriale del pezzo</label>
                <input type="number" class="form-control" id="seriale" formControlName="seriale" [ngClass]="{'is-invalid': addPartiForm.get('seriale')?.invalid && (addPartiForm.get('seriale')?.touched || isFormSubmitted), 'input-invalid': addPartiForm.get('seriale')?.invalid && (addPartiForm.get('seriale')?.touched || isFormSubmitted)}">
                <div *ngIf="addPartiForm.get('seriale')?.invalid && isFormSubmitted" class="text-danger">
                    Inserisci la seriale
                  </div>
            </div>
              <!-- materiale -->
              <div class="d-flex flex-column text-center m-2">
                <label for="materiale" class="form-label">Materiale del pezzo</label>
                <input type="text" class="form-control" id="materiale" formControlName="materiale" [ngClass]="{'is-invalid': addPartiForm.get('materiale')?.invalid && (addPartiForm.get('materiale')?.touched || isFormSubmitted), 'input-invalid': addPartiForm.get('materiale')?.invalid && (addPartiForm.get('materiale')?.touched || isFormSubmitted)}">
                <div *ngIf="addPartiForm.get('materiale')?.invalid && isFormSubmitted" class="text-danger">
                    Inserisci la materiale
                  </div>
            </div>
            <!-- Quantità dei pezzi -->
              <div class="d-flex flex-column text-center m-2">
              <label for="quantityPiece" class="form-label">Quanti pezzi hai?</label>
              <input type="number" min="1" value="1" class="form-control form-control-sm" id="quantityPiece" formControlName="quantityPiece" style="width: 75px; height: calc(1.5em + .75rem + 2px);" [ngClass]="{'is-invalid': addPartiForm.get('quantityPiece')?.invalid && (addPartiForm.get('quantityPiece')?.touched || isFormSubmitted), 'input-invalid': addPartiForm.get('quantityPiece')?.invalid && (addPartiForm.get('quantityPiece')?.touched || isFormSubmitted)}">
              <div *ngIf="addPartiForm.get('quantityPiece')?.invalid && isFormSubmitted" class="text-danger">
                  Inserisci la quantità di parti
              </div>
              </div>
            </div>
  
            <div class="d-flex justify-content-center">
            <!-- descrizione -->
              <div class="custom-width d-flex flex-column text-center m-2">
                  <label for="descrizione" class="form-label">Descrizione del pezzo</label>
                  <textarea class="form-control  textarea-small-font w-100 " id="descrizione" formControlName="descrizione" placeholder="Inserisci una descrizione della parte" 
                  [ngClass]="{'is-invalid': addPartiForm.get('descrizione')?.invalid && (addPartiForm.get('descrizione')?.touched || isFormSubmitted), 'input-invalid': addPartiForm.get('descrizione')?.invalid && (addPartiForm.get('descrizione')?.touched || isFormSubmitted)}"></textarea>
                  <div *ngIf="addPartiForm.get('descrizione')?.invalid && isFormSubmitted" class="text-danger">
                      Inserisci la descrizione
                  </div>
              </div>
            <!-- Submit button -->
             
            <div class="d-flex align-items-center">
              <button type="submit" class="btn btn-dark p-1 m-2 btn-size-custom">
                Aggiungi Pezzo
              </button>
              <button *ngIf="pezzi.length>0" type="button" (click)="addPezziSrv()" class="btn btn-dark p-1 m-2 btn-size-custom">
                Riepilogo Add
              </button>
              
            </div>
            
          </div>
          </form> 
        <!-- </div> -->
      </div>
    </div>
  
  <!-- Modal Bootstrap -->
  <div class="modal fade page-under-modal" *ngIf="showModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" [ngClass]="{'show': showModal}" style="display: block;">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Utenti</h5>
          <button type="button" class="btn btn-dark" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body overflow-auto">
          <div class="container">
            <div *ngFor="let item of pezzi" class="row m-3">
              
                <div class="col-6 border border-1 border-danger p-2">
                  <div class="m-2"> 
                    <p class="m-1">Nome parte: {{item.nomePezzo}}</p>
                    <p class="m-1">Descrizione: {{item.descrizione}}</p>
                    <p class="m-1">seriale: {{item.seriale}}</p>
                    <p class="m-1">Materiale: {{item.materiale}}</p>
                    <p class="m-1">Quantita di ricambi: {{item.quantityPiece}}</p>
                  </div>
                </div>
                <div class="col-6 border border-1 border-danger p-2">
                  <div class="m-2"> 
                    <p class="m-1">Nome Parte: {{item.part?.nomeParte}}</p>  
                    <p class="m-1 ">Nome Macchina: {{item.part?.descrizione}}</p>   
                    <p class="m-1">Descrizione: {{item.part?.descrizione}}</p>  
                </div>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <h3>Se chiudi la parte non sara salvata</h3>
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Chiudi</button>
          <button type="button" class="btn btn-primary" (click)="addPezziSave()">Salva cambiamenti</button>
        </div>
      </div>
    </div>
  </div>