<app-nav-bar (onToggleSideNav)="onToggleSideNav($event)"></app-nav-bar>
<app-body
    [collapsed]="isSideNavCollapsed"
    [screenWidth]="screenWidth"
></app-body>
<footer class="text-center text-lg-start  text-muted m-3">
    <!-- Sezione: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom">
      <!-- Link ai social media -->
      <div>        
        <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram" style="color: #F3DCD4"></i>
        </a>
        <a href="https://www.linkedin.com/in/gianluca-giacchetta/" class="me-4 text-reset">
          <i class="fab fa-linkedin" style="color: #F3DCD4"></i>
        </a>
        <a href="https://github.com/giahck/" class="me-4 text-reset">
          <i class="fab fa-github" style="color: #F3DCD4"></i>
        </a>
      </div>
    </section>
    <!-- Sezione: Links -->
    <section class="">
      <div class="container text-center text-md-start mt-2">
        <div class="row mt-3">
        
          <!-- Sezione 2 -->
        <div class="col-sm-12 col-md-6 p-0">
            <div class="container justify-content-center text-center">
                <h6 class="text-uppercase fw-bold mb-4">BOOT</h6>
                <!-- Prima riga -->
                <div class="row">
                  <div class="col-sm-2 m-0">
                    <p class="mb-0">
                      <i class="devicon devicon-angular-plain"></i>
                    </p>
                  </div>
                  <div class="col-sm-2 m-0">
                    <p class="mb-1">
                      <i class="devicon devicon-javascript-plain"></i>
                    </p>
                  </div>
                  <div class="col-sm-2 m-0">
                    <p class="mb-1">
                      <i class="devicon devicon-html5-plain-wordmark"></i>
                    </p>
                  </div>
                  <div class="col-sm-2 m-0">
                    <p class="mb-1">
                      <i class="devicon devicon-css3-plain-wordmark"></i>
                    </p>
                  </div>
                  <div class="col-sm-2 m-0">
                    <p class="mb-1">
                      <i class="devicon  devicon-bootstrap-plain"></i>
                    </p>
                  </div>
                </div>
                <!-- Seconda riga -->
                <div class="row">
                  <div class="col-sm-2 m-0">
                    <p class="mb-1">
                      <i class="devicon devicon-java-plain"></i>
                    </p>
                  </div>
                  <div class="col-sm-2 m-0">
                    <p class="mb-1">                            
                      <i class="devicon devicon-spring-original"></i>
                    </p>
                  </div>
                  <div class="col-sm-2 m-0">
                    <p class="mb-1">                          
                       <i class="devicon devicon-postgresql-plain-wordmark"></i>
                    </p>
                  </div>
                  <div class="col-sm-2 m-0">
                    <p class="mb-1">                          
                      <i class="devicon devicon-intellij-plain"></i>          
                    </p>
                  </div>
                  <div class="col-sm-2 m-0">
                    <p class="mb-1">                          
                      <i class="devicon devicon-vscode-plain"></i>          
                    </p>
                  </div>
                </div>
              </div>
</div>
      
          <!-- Sezione 4 -->
          <div class="col-sm-12 col-md-6 p-0">
            <h6 class="text-uppercase fw-bold mb-2">
              Contatti
            </h6>
            <p><i class="fas fa-home me-3"></i> Guardia vomano, NY 64024, IT</p>
            <p>
                <i class="fas fa-envelope me-3"></i>
                <a href="mailto:info&#64;esempio.com" class="text-reset">gianluca.giacchetta&#64;gmail.com</a>
              </p>
            <p><i class="fas fa-phone me-3"></i> + 39 3275470013</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Sezione: Diritti d'autore -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Diritti d'autore:
      <a class="text-reset fw-bold" href="https://github.com/giahck/">G.Giacchetta</a>
    </div>
  </footer>